<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
	<title>DataTables example - Object data source</title>
	<link rel="stylesheet" type="text/css" href="/public/media/css/jquery.dataTables.css">
	<style type="text/css" class="init">
	
	</style>
	<script type="text/javascript" language="javascript" src="/public/media/js/jquery.js">
	</script>
	<script type="text/javascript" language="javascript" src="/public/media/js/jquery.dataTables.js">
	</script>
	<script type="text/javascript" language="javascript" src="/public/js/vehicleitemlist.js">
	</script>

</head>
<body class="dt-example">
	<div class="container">
		<section>
			<h1>DataTables example <span>Object data source</span></h1>
			<div class="info">
				<p>The default data format that DataTables expects for server-side processing is a 2D array of data (rows by columns). However, this is often not flexible enough
				for either the server-side environment, or you might want to convey more information in the data source than is necessary to show in the table (row IDs from the
				database for example). For these situations DataTables supports the reading of data for objects as well as arrays.</p>
				<p>In this example the server responds with an array of objects, where DataTables will look up and use each property that is specified by the <a href=
				"//datatables.net/reference/option/columns.data"><code class="option" title="DataTables initialisation option">columns.data</code></a> property given for each
				column.</p>
			</div>
			<div class="demo-html"></div>
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
				<tr>
					<th>编号</th>
					<th>SN号</th>
					<th>车牌号</th>
					<th>时间</th>
					<th>经度</th>
					<th>纬度</th>
					<th>高度</th>
					<th>档位</th>
					<th>脚刹</th>
					<th>手刹</th>
					<th>安全带</th>
					<th>喇叭</th>
					<th>近光灯</th>
					<th>远光灯</th>
					<th>熄火信号</th>
					<th>前雾灯</th>
					<th>后雾灯</th>
					<th>应急灯</th>
					<th>点火信号</th>
					<th>电机转速</th>
					<th>示宽灯</th>
					<th>左转向灯</th>
					<th>右转向灯</th>
					<th>雨刷</th>
					<th>车速</th>
					<th>ACC</th>
					<th>电量</th>
				</tr>
				</thead>

			</table>


		</section>
	</div>
	<section>

	</section>
</body>
</html>